/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

/*--------------------------------------------------------------
#imagenes intargeteables
--------------------------------------------------------------*/
img{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	}

/*--------------------------------------------------------------
--------------------------------------------------------------*/

a {
  color: #03C4EB;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 10px 0;
  padding: 0;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #03C4EB;
  color: #fff;
}

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.jpg) top center fixed;
  background-size: cover;
}

#hero .hero-logo {
  margin: 20px;
}

#hero .hero-logo img {
  max-width: 100%;
  width: 135px;

}

#hero .hero-container {
  background: rgba(0, 0, 0, 0.8);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  margin: 40px 0 12px 0;
    line-height: 48px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #fff;
  margin-bottom: 50px;
  font-weight: 500;
  text-transform: uppercase;

}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #hero h2 .rotating {
    display: block;
  }
}


#hero h3 {
  color: #999;
  margin-bottom: 50px;
	font-weight: 700;
}

#hero .rotating > .animated {
  display: inline-block;
}

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-get-started {
  background: #03C4EB;
  border: 2px solid #03C4EB;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services {
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services:hover {
  background: #03C4EB;
  border: 2px solid #03C4EB;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #111;
  padding: 20px 0;
  height: 90px;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}

@media (max-width: 768px) {
  #header {
    height: 80px;
  }
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

.is-sticky #header {
  background: rgba(0, 0, 0, 0.85);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 5px 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
  outline: none;
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
  color: #03C4EB;
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #f6f6f6;
}

.nav-menu ul li a {
  color: #333;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #03C4EB;
}

#mobile-nav ul .menu-item-active {
  color: #03C4EB;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
.section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.section-title-divider {
    width: 50px;
    height: 3px;
    background: #03C4EB;
    margin: 0 auto;
    margin-bottom: 15px;
}

.section-description {
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.6;
	font-size: 17px;
	margin-top: 20px;
}

.section-description-2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 500;
    color: #575757;
    text-transform: uppercase;
}

#modulos_administrables .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

#modulos_administrables .section-description {
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 18px;

}

#modulos_administrables .section-description-3 {
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.6;

}

#modulos_administrables .section-description-2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 500;
    color: #575757;
    text-transform: uppercase;
}

#modulos_administrables .section-title-divider {
  width: 50px;
  height: 3px;
  background: #03C4EB;
  margin: 0 auto;
  margin-bottom: 15px;
}

#modulos_administrables .btn-sp3 {
	bottom: 0px;
	outline: none;
	border: 1px solid #03C4EB ;
	padding: 0px;
	background-color: rgba(255,255,255,0.00);
	border-radius: 5px; 
	margin-top: 20px;
    margin-bottom: 50px;
    
}

#modulos_administrables .btn-sp3 h6{
	font-size: 23px;
    color: #03C4EB;
    padding: 10px 20px 10px 20px;
    margin-bottom: 0px;
	font-weight: 500;
   

}


#modulos_administrables .btn-sp3 h6:hover{
	font-size: 23px;
    padding: 10px 20px 10px 20px;
	margin-bottom: 0px;
	text-decoration: underline;
	/*background: linear-gradient(0deg, #AACFD4, #03C4EB, #03ABEB );*/
}

#modulos_administrables .btn-sp3:hover{
	 background-color: rgba(3,196,235,0.03);
	-webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
	transition: background 0.5s;}/* Get Started Section
--------------------------------*/
#about {
  background: #fff;
  padding: 80px 0;
}

#about .about-container {
  background: url(../img/about-img.jpg) left top no-repeat;
	background-position: 0% 32%;
}

#about .about-content {
  background: #fff;
}

#about .about-title {
    color: #575757;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
}

#about .about-title-2 {
  color: #03C4EB;
  font-weight: 700;
  font-size: 28px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.05);
}

#about .about-text {
  line-height: 26px;
 /* */ font-size: 13px;
margin-bottom: 23px;
}

#about .about-text:last-child {
  margin-bottom: 0;
}

#about .about-text-2 {
  line-height: 26px;
 /* */ font-size: 13px;
   margin-bottom: 17px;



}

#about .about-text-2:last-child {
  margin-bottom: 0;
}

/* Services Section
--------------------------------*/
#services {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/services-bg.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 5px 0;
}

#services .service-item {
  margin-bottom: 20px;
}

#services .service-icon {
  float: left;
  background: #03C4EB;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #03C4EB;
}

#services .service-icon i {
  color: #fff;
  font-size: 24px;
}

#services .service-item:hover .service-icon {
  background: #fff;
}

#services .service-item:hover .service-icon i {
  color: #03C4EB;
}

#services .service-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 9px;
  text-transform: uppercase;
}

#services .service-title a {
  color: #111;
}

#services .service-description {
  margin-left: 80px;
  line-height: 24px;
}

/* modulos_administrables
--------------------------------*/
#modulos_administrables .auto_modulos{}

#modulos_administrables .section-title{
	padding-top: 40px;
}

#modulos_administrables .auto_modulos img{
width: 100%; 
max-width: 200px;
transition: transform .7s;}

#modulos_administrables .auto_modulos img:hover{
   -ms-transform: scale(1.030); /* IE 9 */
    -webkit-transform: scale(1.030); /* Safari 3-8 */
    transform: scale(1.030);
	opacity: 0.9;
}

#modulos_administrables .auto_modulos h2{
	font-size: 33px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.025);
    color: #17c403;
}

#modulos_administrables .auto_modulos h3{
	margin-bottom: 3px;
	font-size: 16px;
	margin-top: 8px;
}


#modulos_administrables .btn-sp2 {
	bottom: 0px;
	outline: none;
	border: 1px solid #03C4EB ;
	padding: 0px;
	background-color: rgba(255,255,255,0.00);
	border-radius: 5px; 
	margin-top: 20px;
    margin-bottom: 30px;
    
}

#modulos_administrables .btn-sp2 h6{
	font-size: 25px;
    color: #03C4EB;
    padding: 10px 20px 10px 20px;
    margin-bottom: 0px;
	font-weight: 500;
   

}


#modulos_administrables .btn-sp2 h6:hover{
	font-size: 25px;
    padding: 10px 20px 10px 20px;
	margin-bottom: 0px;
	text-decoration: underline;
}

#modulos_administrables .btn-sp2:hover{
	 background-color: rgba(3,196,235,0.03);
	-webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
	transition: background 0.5s;}

/* Plan Section
--------------------------------*/

#planes{padding: 40px 0 20px 0;}

#planes .block_plan h2{text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	}

#planes .plan_bord{
	border: 1px solid #80eaff;
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom:5px;}

#planes .block_plan h3{
	font-size: 20px; 
	color: #03C4EB;
    font-weight: 700;}

#planes .block_plan h4{
	font-size: 26px;
    color: #03C4EB;
    text-align: center;
    font-weight: 700;
    padding: 8px 0px 13px 0px;
text-shadow: 2px 2px 3px rgba(0,0,0,0.06);
}

#planes .block_plan p{margin-bottom: 10px;}

#planes .block_plan ul{
	padding: 0px 0px 0px 18px; 
	list-style-image:url(../img/blue_point.png)
}

#planes .block_plan li{
	line-height: 30px;
}

#planes .block_plan_2 h2{
	margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #07c1e7;
}

#planes .block_plan_2 p{
	margin-bottom: 10px;
}

#planes .block_plan_2 h3{
	margin-top: 20px;
	margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #07c1e7;
	
}

#planes .block_plan_2 h4{
	margin-top: 20px;
	margin-bottom: 15px;
    font-size: 20px;
    color: #939393;
}



/* development Section
--------------------------------*/

#development .section-title{
	font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
	margin-top: 35px;}

#development .section-description{
	font-size: 20px;
    margin-bottom: 35px;
    margin-top: -7px;
}

#development .description_services{}

#development .description_services h2{
	margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #07c1e7;
}

#development .description_services h3{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #07c1e7;
    line-height: 30px;
}

#development .description_services p{
	margin-bottom: 5px;
}

#development .description_services img{width: 100%; max-width: 500px;}



#development .btn-sp2 {
	bottom: 0px;
	outline: none;
	border: 1px solid #03C4EB ;
	padding: 0px;
	background-color: rgba(255,255,255,0.00);
	border-radius: 5px; 
	margin-top: 40px;
    margin-bottom: 45px;
    
}

#development .btn-sp2 h6{
	font-size: 19px;
    color: #03C4EB;
    padding: 10px 20px 10px 20px;
    margin-bottom: 0px;
	font-weight: 500;
   

}


#development .btn-sp2 h6:hover{
	font-size: 19px;
    padding: 10px 20px 10px 20px;
	margin-bottom: 0px;
	text-decoration: underline;
}

#development .btn-sp2:hover{
	 background-color: rgba(3,196,235,0.03);
	-webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
	transition: background 0.5s;}

#development .about-container-2 {
  background: url(../img/about-img.jpg) left top no-repeat;
	background-position: 0% 32%;
}


/* Metodos de pagos Section-index
--------------------------------*/
#pagos .mpagos_1{}

#pagos .mpagos_1 h2{
	border-bottom: 1px solid #03C4EB;
    font-size: 20px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    font-weight: 500;
}
#pagos .mpagos_1 p{}
#pagos .mpagos_1 img{
    width: 298px;
    padding-left: 1%;
    padding-top: 5px;}


/* Portafolio Section-index
--------------------------------*/
#portafolio .block_porta_1{
	padding: 60px 0 60px 0;
    background-image: url(../img/galery/back_titular.jpg);
    background-color: #03C4EB;
    background-repeat: no-repeat;
    background-size: cover;

}

#portafolio .block_porta_1 p {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

#portafolio .btn-sp3 {
	bottom: 0px;
	outline: none;
	border: 1px solid #fff ;
	padding: 0px;
	background-color: rgba(255,255,255,0.00);
	border-radius: 5px; 
	margin-top: 15px;
    
}

#portafolio .btn-sp3 h6{
	font-size: 30px;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    margin-bottom: 0px;
   

}


#portafolio .btn-sp3 h6:hover{
	font-size: 30px;
    padding: 10px 20px 10px 20px;
	margin-bottom: 0px;
	
}

#portafolio .btn-sp3:hover{
	 background-color: rgba(255,255,255,0.20);
	-webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
	transition: background 0.5s;}

#development .btn-sp2 h6{
	font-size: 25px;
    color: #03C4EB;
    padding: 10px 20px 10px 20px;
    margin-bottom: 0px;
	font-weight: 500;
   

}


#development .btn-sp2 h6:hover{
	font-size: 25px;
    padding: 10px 20px 10px 20px;
	margin-bottom: 0px;
	text-decoration: underline;
}

#development .btn-sp2:hover{
	 background-color: rgba(3,196,235,0.03);
	-webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
	transition: background 0.5s;}

#development .about-container-2 {
  background: url(../img/about-img.jpg) left top no-repeat;
	background-position: 0% 32%;
}



/* Subscribe Section
--------------------------------*/
#subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/subscribe-bg.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#subscribe .subscribe-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#subscribe .subscribe-text {
  color: #fff;
}

#subscribe .subscribe-btn-container {
  text-align: center;
  padding-top: 20px;
}

#subscribe .subscribe-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#subscribe .subscribe-btn:hover {
  background: #03C4EB;
  border: 2px solid #03C4EB;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
  background: #fff;
  padding: 80px 0;
}

#portfolio .portfolio-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 260px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .details {
  height: 260px;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}

#portfolio .portfolio-item .details h4 {
  font-size: 16px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: #333333;
}

#portfolio .portfolio-item .details span {
  display: block;
  color: #666666;
  font-size: 13px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}

#portfolio .portfolio-item:hover .details {
  opacity: 0.8;
}

#portfolio .portfolio-item:hover .details h4 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#portfolio .portfolio-item:hover .details span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Testimonials Section
--------------------------------*/
#testimonials {
  background: #f6f6f6;
  padding: 80px 0;
}

#testimonials .profile {
  text-align: center;
}

#testimonials .profile .pic {
  border-radius: 50%;
  border: 6px solid #fff;
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
  width: 260px;
}

#testimonials .profile .pic img {
  max-width: 100%;
}

#testimonials .profile h4 {
  font-weight: 700;
  color: #03C4EB;
  margin-bottom: 5px;
}

#testimonials .profile span {
  color: #333333;
}

#testimonials .quote {
  position: relative;
  background: #fff;
  padding: 60px;
  margin-top: 40px;
  font-size: 16px;
  font-style: italic;
  border-radius: 5px;
}

#testimonials .quote b {
  display: inline-block;
  font-size: 22px;
  left: -9px;
  position: relative;
  top: -8px;
}

#testimonials .quote small {
  display: inline-block;
  right: -9px;
  position: relative;
  top: 4px;
}

/* Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 80px 0 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: #03C4EB;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Contact Section
---------#contact {
  background: #f7f7f7;
  padding: 80px 0;
}-----------------------*/
#contact {
  background-image: url(../img/contback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #03C4EB;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

#contact .info a {
	color: #333333;
}

#contact .info a:hover {
	color: #03C4EB;
	text-decoration: underline;
}

#contact .form #sendmessage {
  color: #03C4EB;
  border: 1px solid #03C4EB;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
}

#contact .form button[type="submit"] {
  background: #03C4EB;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #25d8fc;
}


/*--------------------------------------------------------------
# Galeria-portafolio
--------------------------------------------------------------*/

#first-see-gallery{padding: 50px 0px 30px 0px;}

#portgalery{padding-bottom: 30px;}

#galery_title .block_galery_1
{background-color: rgba(0,0,0,1.00);
	padding: 25px 0px;}
#galery_title .block_galery_1 img{max-width: 130px;}


#portgalery .limit_galery{ border-bottom: 1px solid #f2f2f2;}

#portgalery .galery-portafolio {overflow: hidden;
	margin-bottom: 15px;
    padding-bottom: 15px;

}

#portgalery .galery-portafolio h3{    
	margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    color: #767676;}

#portgalery .galery-portafolio img{width: 100%;
	max-width: 370px; 
-webkit-box-shadow: 3px 6px 25px -3px rgba(0,114,143,0.23);
-moz-box-shadow: 3px 6px 25px -3px rgba(0,114,143,0.23);
box-shadow: 3px 6px 25px -3px rgba(0,114,143,0.23);
	transition: transform .7s;
    }

#portgalery .galery-portafolio img:hover{
    -ms-transform: scale(1.030); /* IE 9 */
    -webkit-transform: scale(1.030); /* Safari 3-8 */
    transform: scale(1.030);
	opacity: 0.9;

}

#portgalery .galery-portafolio a{font-weight: 700;
	margin-bottom: 30px; }

#portgalery .galery-portafolio a:hover{text-decoration:
	underline;}

#portgalery .galery-portafolio_a {
    font-weight: 700;
    margin-bottom: 30px;
    border: 1px solid #03C4EB;
    padding: 2px 10px;}

#portgalery .galery-portafolio p{margin-bottom: 10px;
	font-size: 12px;
	text-align: justify;
	 min-height: 35px;
}

#portgalery  .back{color: #02a0bf; margin-left: 10px;  font-size: 15px;}

/* Ficha
--------------------------------*/

#ficha .section-title{margin-top: 30px;}

#ficha .back{    
	color: #02a0bf;
    margin-left: 10px;
    font-size: 15px;
    text-align: center;
	margin-top: 20px;
}

#brand{padding-bottom: 30px;}

#brand  .section-title-divider{   
	width: 50px;
    height: 3px;
    background: #03C4EB;
    /* margin: 0 auto; */
        margin: 00px 0px 00px 0px;}



#brand .m_subtitle{
	background-color: rgba(48,48,48,1.00);
	text-align: center;
	padding: 10px 0px 5px 0px;
    margin-bottom: 30px;
}

#brand .m_subtitle h8{
	color: rgba(255,255,255,1.00);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 4px;}



#brand .section-title {
    text-align: left;
	margin: 45px 0px 8px 0px; 
}

#brand .section-title-2{
	font-size: 22px;
    font-weight: 700;
    margin-top: 50px;
    text-transform: uppercase;
	
}

#brand .section-title-divider-3{
	width: 100px;
    height: 3px;
    background: #fff;
    /* margin: 0 auto; */
    margin: 00px 0px 00px 0px;
}
#brand .section-description{   
	text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#brand  img{width: 100%; max-width: 500px; margin-top: 20px; margin-bottom: 30px; text-align: center;}


#brand h4{   
	    font-size: 25px; text-transform: capitalize;
}

#brand .brand_titular{ 
	padding: 0px 0px 30px 0px;
    background-image: url(../img/galery/back_titular.jpg);
	background-color: #03C4EB;
    background-repeat: no-repeat;
    background-size: cover;

}

#brand .brand_titular h3{
	color: #fff;
    font-size: 38px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    margin-top: 0px;
    margin-bottom: 10px;
}

#brand .section-title-3 {
	color: rgba(255,255,255,1.00);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 4px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    
}

#brand .brand_titular p{color: #fff; 
	font-size: 18px; 
	text-shadow: 2px 2px 2px rgba(0,0,0,0.1);}

#brand  .brand_web	{text-align: center; }
#brand  .brand_web img{ max-width: 850px; width: 100%; }

#brand .back {color: #02a0bf; margin-left: 10px;  font-size: 15px; text-align: center; margin-top: 20px;}

/*---------------------------------------
   SECTION FEATURES              
-----------------------------------------*/
#featured p{margin-bottom: 0px;}

#featured .features {
    background-color: #f1f1f1
}
#featured .feature_inner {
    padding-top: 5px;
    padding-bottom: 5px;
}
#featured .feature_iphone {} .feature_iphone img {
    width: 100%;
}
#featured .right_single_feature {
    position: relative;
    padding-left: 90px;
    margin-bottom: 40px;
    margin-top: 35px;
}
#featured .right_single_feature div {
    position: absolute;
    font-size: 40px;
    color: #03C4EB;
    left: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
}
#featured .right_single_feature h3 {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333333;
}
#featured .right_single_feature h3 span {
    color: #03C4EB;
}
#featured .right_single_feature p {
        color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
/*left feature*/

#featured .left_single_feature {
    position: relative;
    padding-right: 90px;
    margin-bottom: 40px;
    text-align: right;
    margin-top: 35px;
}
#featured .left_single_feature div {
    position: absolute;
    font-size: 40px;
    color: #03C4EB;
    right: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
}
#featured .left_single_feature h3 {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333333;
}
#featured .left_single_feature h3 span {
    color: #03C4EB;
}
#featured .left_single_feature p {
        color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
#featured .right_no_padding {
    padding-left: 15px;
}
#featured .left_no_padding {
    padding-right: 15px;
}
@media (min-width: 991px) and (max-width: 1200px) {
    #featured .right_single_feature {
        margin-left: -60px;
    }
    #featured .left_single_feature {
        margin-right: -60px;
    }
    #featured .feature_iphone {
        margin-top: 35px;
    }
    #featured .right_single_feature h3,
    #featured .left_single_feature h3 {
        margin-top: 0px;
        margin-bottom: 15px;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #111;
  padding: 30px 0;
  color: #fff;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}
